footer {
    text-align: center;
    p {
        font-weight: normal;
    }
    .footer_link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 20px 0;
    }
    a {
        font-size: 16px;
        color: #c9c9c9;
        text-decoration: underline;
    }
}
